<div class="tab-pane" id="tab_default_2">
                <p>
                  Education& Career
                </p>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                    </div>
                  </div>
                </div>
                
                
              </div>