<div class="deal-app-container">
  <div class="deal-app-head">
    <h2>THE CANDIDATE</h2>
    <table>
      <tr>
        <td>
          <img width="15px" height="15px" src="{{g.base_href }}assets/deal-icon/ico1.png"><h4>Organisation name</h4>
          <p>
            <span>MAA</span>
          </p>
        </td>
        <td>
          <img width="15px" height="15px" src="{{g.base_href }}assets/deal-icon/ico2.png"><h4>Country</h4>
          <p>
            <span>France</span>
          </p>
        </td>
        <td>
          <img width="15px" height="15px" src="{{g.base_href }}assets/deal-icon/ico3.png"><h4>First name</h4>
          <p>
            <span>Ipsum</span>
          </p>
        </td>
        <td>
          <img><h4>Last name</h4>
          <p>
            <span>Jabali</span>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="deal-dd">
    <h3>COLLABORATION TYPE</h3>
    <p>IT and blabla</p>
  </div>
  <div class="deal-dd">
    <h3>PRAJECT DESCRIPTION</h3>
    <p>Text to describe the project</p>
  </div>
  <div class="deal-dd">
    <h3>PROJECT TYPE</h3>
    <p>Type of the project</p>
  </div>
  <div class="deal-dd">
    <h3>ORGANISATION</h3>
    <p>About the organisation</p>
  </div>
  <div class="deal-dd">
    <h3>CONFIDENTIALITY</h3>
    <p>Config</p>
  </div>
</div>
