$color1 : #e55037;
$color2 : #393F4B;
$green : #71BF71;
li{
    list-style:none;
}
/* nav sidebar */
.side-nv{
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    .wrapper{
        margin-top: -30px;
    }
    ul li{
        margin-top: 7px;
        padding:7px;
    }
    ul li:hover{
        background: #f7f7f7;
        cursor:pointer;
        a{
          color:gray;  
        }
    }
    ul li a{
        font-size: 14px;
        font-family: SourceSansPro-Semibold;
        color: $color2;
        letter-spacing: 0.3px;
    }
}
.ml-16{
    margin-top: 52px;
}
.side-title{
    margin-left: 30px;
    i{
        padding-right: 10px;
    }
}
/* end nav sidebar */

/* sous nav */
.nav-tel{
    top: 50px;
    padding: 10px;
    background: white !important;
    box-shadow:none;
    .ns{
        margin-left: 65px;
        li{
            margin-right: 10px;
            a{
                color: #393f4b;
                font-family: SourceSansPro-Semibold;
                font-size: 13px;
            }
        }
    }
}
/* end sous nav */