<navbar-admin [p_name]='page_name'></navbar-admin>
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav-tel">
  <ul class="navbar-nav ns">
    <li class="nav-item">
      <a class="nav-link"  [ngClass]="{'isactive': isactivePage.team}" [routerLink]="['/administration-in','desk']">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/administration-in','desk','questions']">Questions</a>
    </li>
    <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/administration-in','desk', 'applications']">Applications</a>
    </li>
    <li class="nav-item">
          <a class="nav-link"  href="#">Favorite</a>
    </li>
    <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/administration-in','desk', 'applications']">invited organizations</a>
    </li>
  </ul>
</nav>
<main class="col-12">
  <div class="ml-16">
     <router-outlet></router-outlet>
  </div>
</main>