<div class="col-container">
    <div class="table-respo">
        <!--Table-->
        <table class="table appli-table">
            <!--Table head-->
            <thead class="head-color">
                <tr class="text-bl">
                    <th>Date</th>
                    <th>Country</th>
                    <th>Organisation</th>
                    <th>First name </th>
                    <th>Last name</th>
                    <th>Collaboration name</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                <tr>
                    <td>date</td>
                    <td>country</td>
                    <td>Organisation</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Collaboration name</td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
</div>