<div class="form-inline my-2 my-md-0 option-list">
    <div class="option-div">
        <select class="">
        <option value="" disabled selected>Projets d'open innovation</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
        <span class="option-select">Types de projets</span>
    </div>
    <div class="option-div">
        <select class="select-two">
        <option value="" disabled selected>Toutes les categories</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
        <span class="option-select">categories</span>
    </div>
    <div class="option-div">
        <select class="">
        <option value="" disabled selected>France</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
        <span class="option-select">pays</span>
    </div>
</div>