<div class="col-container">
  <div class="table-respo">
    <!--Table-->
    <table class="table appli-table">
      <!--Table head-->
      <thead class="head-color">
        <tr class="text-bl">
          <th>Collaboration type</th>
          <th>Collaboration name</th>
          <th>Application</th>
          <th>Type</th>
          <th>views</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr >
          <td>col type</td>
          <td>col name</td>
          <td>applic</td>
          <td>Asc</td>
          <td>
            <a target="_blank"><i class="fa fa-eye"></i> </a>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
