<navbar-admin></navbar-admin>
<nav class="navbar navbar-expand-sm nav-tel">
        <ul class="navbar-nav ns">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/administration-in','setting','config']">generale</a>
            </li>
        </ul>
        <div class="icon-plus">
            <i class="tp fa fa-plus"></i>
        </div>
    </nav>

    <main class="collaboration-container">
        <div class="ml-16">
            <router-outlet></router-outlet>
        </div>
    </main>