<div class="col-container">
    <div class="table-respo">
        <table class="table appli-table">
            <thead class="head-color">
                <tr class="text-bl">
                    <th>Date</th>
                    <th>Country</th>
                    <th>Organisation</th>
                    <th>Type</th>
                    <th>Collaboration name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>05/15/2018</td>
                    <td>Madagascar</td>
                    <td>org</td>
                    <td>type</td>
                    <td>collabotation name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>