<div class="col-container">
  <div class="table-respo">
    <!--Table-->
    <table class="table appli-table">
      <!--Table head-->
      <thead class="head-color">
        <tr class="text-bl">
          <th>Date</th>
          <th>Country</th>
          <th>Organisation</th>
          <th>Type</th>
          <th>Collaboration name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr *ngFor="let item of allApplData">
          <td>{{item.date}}</td>
          <td>{{item.country}}</td>
          <td>{{item.orgName}}</td>
          <td>{{item.typeCollab}}</td>
          <td>{{item.collabName}}</td>
          <td>{{item.status}}</td>
          <!-- [routerLink]="['/candidature','details', item._id ]" -->
          <td>
            <a target="_blank">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
