<div class="clear"></div>
<!-- Nav tabs -->
<ul class="nav nav-tabs  tabs" role="tablist">
    <li class="nav-item" id="tabs-a">
        <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">VOS BESOINS</a>
    </li>
    <li class="nav-item" id="tabs-a">
        <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">NOTRE PROPOSITION</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content tabs card-block">
    <div class="tab-pane active" id="home1" role="tabpanel">
            <form class="form-horizontal">
                    
            <label class="custon-ch">
            <span><b>Publier</b> vos sujets et projets d’innovation</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label> 
            <label class="custon-ch">
            <span><b>Structurer</b> les échanges avec les startups</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <label class="custon-ch">
            <span><b>Profiter</b> des travaux des laboratoires de recherche
                </span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>  
            <label class="custon-ch">
            <span><b>Centraliser</b> les candidatures reçues</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <label class="custon-ch">
            <span><b>Organiser</b> les observations des collaborateurs sur chaque candidature</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>             
            <label class="custon-ch">
            <span><b>Partager</b> les échanges générés aves vos collaborateurs dans une espace sécurisé
                </span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label><label class="custon-ch">
            <span><b>Permettre</b> à chaque collaborateur, service ,filiale, de centraliser des innovations trouvées dans leur environnement</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <label class="custon-ch">
            <span><b>Superviser</b> un portefeuille de collaboration</span>
            <input formControlName="invAsTeam" type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>            
            </form>
    </div>
    <div class="tab-pane" id="profile1" role="tabpanel">
        <p class="m-0">2.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
    </div>
</div>