<div class="">
   <div class="mb-20">
      <label class="grey-text-form">Nom du projet </label>
      <input (change)="onChange($event)" type="text" [(ngModel)]="prModel.pr_name" name="pName" class="form-control-project prN">
   </div>
   <div class="mb-20">
      <label class="grey-text-form"> Project Context</label>
      <ckeditor #ckeditor1 [(ngModel)]="prModel.pr_contexte_ProjectEditor" [config]="g.conf_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"  debounce="500">
      </ckeditor>
   </div>
   <div class="mb-20">
      <label class="grey-text-form"> Project Objectives</label>
      <ckeditor #ckeditor2 [(ngModel)]="prModel.pr_objectif_ProjectEditor" [config]="g.conf_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"  debounce="500">
      </ckeditor>
   </div>
   <div class="mb-20">
      <label class="grey-text-form">Proposal Requirements</label>
      <ckeditor #ckeditor3 [(ngModel)]="prModel.pr_elementProposition_ProjectEditor" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)" debounce="500">
      </ckeditor>
   </div>
   <div class="row">
      <div class="col-md-6 col-sm-6">
         <div class="mb-20">
            <label class="grey-text-form">Response time</label>
            <input (change)="onChange($event)" type="number" [(ngModel)]="prModel.pr_responseTimeValue" name="resonseTime" class="form-control-project">
         </div>
      </div>
      <div class="col-md-6 col-sm-6">
         <div class="mb-20 unit-display">
            <label class="grey-text-form">Unit</label>
            <select (change)="onChange($event)" [(ngModel)]="prModel.pr_responseTimeUnit">
            <option value="" selected>Choose unit</option>
            <option value="Hour" selected>Hours</option>
            <option value="Day">Days</option>
            <option value="Week">Weeks</option>
            <option value="Month">Months</option>
            </select>
         </div>
      </div>
   </div>

   <label class="grey-text-form">Type</label>
    <div class="button-holder">
      <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-1-set"><label for="radio-1-set"></label>
      <span class="grey-text-form">Programmé</span><br>
      <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-2-set"><label for="radio-2-set"></label>
      <span class="grey-text-form">Continu</span><br>
    </div>

   <label class="grey-text-form">Confidentiality</label>
    <div class="button-holder">
      <input type="radio" checked="" class="regular-radio" name="radio-1-set" id="radio-1-set"><label for="radio-1-set"></label>
      <span class="grey-text-form">No confidential information</span><br>
      <input type="radio" checked="" class="regular-radio" name="radio-2-set" id="radio-2-set"><label for="radio-2-set"></label>
      <span class="grey-text-form">some confidential information</span><br>
    </div>

   <div class="mb-20">
      <label class="grey-text-form">Contenu confidentiel</label>
       <ckeditor #ckeditor3 [(ngModel)]="prModel.pr_elementProposition_ProjectEditor" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)" debounce="500">
      </ckeditor>
   </div>
   <div class="mb-20 unit-display">
      <label class="grey-text-form">diffusion</label>
      <select>
         <option value="" selected>continent</option>
         <option value="">pays</option>
         <option value="">type de contreparties</option>
      </select>
   </div>

   <div class="">
      <button (click)="saveProjects()" [ngClass]="{'disabled': noValid }" class="btn btn-unique-edit ed-2"><i class="fa fa-check mr-2"></i>Save</button>
   </div>
</div>