<page-header [pageCurrent]="applicationreport_page">
</page-header>
<div class="container-fluid grid grid-top">
  <div class="row" *ngIf="readytoshow">
    <div class="col-md-6">
      Candidat:
      <hr class="m-2">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img width="100%" [src]="detailsAll.usr.imageProfile" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <div class="row">
            <span class="col-sm-12"><h5 class="mb-1">{{detailsAll.usr.name}}</h5></span>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="mb-1">{{detailsAll.usr.function}} <span *ngIf="detailsAll.usr.org"> at {{detailsAll.usr.org}} </span> </p>
              <ul class="list-unstyled ml-2">
                <li><i class="fa fa-envelope ml-2 mr-2"></i><span>{{detailsAll.usr.email}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      Projet:
      <hr class="m-2">
    <span> Name: {{detailsAll.projet.name}} </span> <br>
     <span>Link:<a target="_blank" [routerLink]="[ '/open-innovation' , detailsAll.projet.accSlug , 'details-project' , detailsAll.projet._id ]"> View project <i class="fa fa-arrow-right"></i> </a></span> <br>
     <span>by : {{detailsAll.projet.byUser}}</span>
    </div>
  </div>
  <hr>
  <div *ngIf="readytoshow">
  	Details: <br>
  	<div class="mb-2 ml-2 ">
  		<strong>Domaine principal d’activité :</strong>
  		<div [innerHtml]="detailsAll.applDetail.mainActivityDomain" class="ml-2">
  			
  		</div>
  	</div>
  	<div class="mb-2 ml-2 ">
  		<strong>Activités connexes :</strong>
  		<div [innerHtml]="detailsAll.applDetail.secondaryActivityDomain" class="ml-2"></div>
  	</div>
  	<div class="mb-2 ml-2 ">
  		<strong>Compétences et spécificités :</strong>
  		<div [innerHtml]="detailsAll.applDetail.skillnCompent" class="ml-2"></div>
  	</div>
  	<div class="mb-2 ml-2 ">
  		<strong>Pouvez-vous préciser en quelques lignes vos activités, projets et compétences, réalisés qui peuvent illustrer et contribuer à la réalisation du projet ?</strong>
  		<div [innerHtml]="detailsAll.applDetail.userActivityDescrib" class="ml-2"></div>
  	</div>
  	<div class="mb-2 ml-2 ">
  		<strong>Quelles sont les informations complémentaires que vous souhaiteriez obtenir ?</strong>
  		<div [innerHtml]="detailsAll.applDetail.dataSuppl" class="ml-2"></div>
  	</div>
  </div>
</div>
