<div class="one-deal-container">
  <table>
    <tr>
      <td class="td-20" valign="top">
        <div class="deal-application">
          <h3>Applications</h3>
          <div>
            <div>
              <img width="30px" height="30px" >
              <h4>Org 1</h4>
              <h4>Fond f1</h4>
            </div>
          </div>
        </div>
      </td>
      <td class="td-60" valign="top">
        <div class="deal-center">
          <h3>Test</h3>
          <div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </td>
      <td class="td-20" valign="top">
        <div class="deal-observ">
          <h3>Observations</h3>
        </div>
      </td>
    </tr>
  </table>
</div>
