$red1: #e55037;
$red2: #E94E45;
$color2: #393F4B;
$color3: #8B97A5;

$gray1: #a7a7a7;
$gray2: #D5DCE0;
$gray3: #F4F5F7;

.one-deal-container {
  height: 100%;
}

.one-deal-container table {
  width: 100%;
  height: 100%!important;
  margin-top: 0px;
}

.one-deal-container table tr .td-20 {
  width: 20%;
  background-color: $gray2;
}

.one-deal-container table tr .td-60 {
  width: 60%;
}

.deal-application, .deal-observ {
  width: 100%;
  padding: 10px;
}

.deal-application h3, .deal-observ h3, .deal-center h3 {
  font-family: SourceSansPro-Regular;
  font-size: 22px;
  color: $red2;
}

.deal-center {
  width: 100%;
  padding-left: 20px;
}
