<div *ngIf="activeShow" style="overflow: auto;" (onHidden)="hiddedModal()" mdbModal #p_mdl="mdb-modal" class="modal fade" id="modalZoneForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
    <div class="modal-dialog {{modal_size}}" role="document">
        <div class="modal-content">
            <button type="button" class="close close-md" data-dismiss="modal" aria-label="Close" (click)="p_mdl.hide()">
        <span aria-hidden="true">×</span>
      </button>
            <div class="modal-body">
                <div class="askm">
                    <div class="quest_">
                        <div class="">
                            <label>Your Questions :</label>
                            <ckeditor [config]="g.conf0_editor" [readonly]="false" debounce="100">
                            </ckeditor>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-md btn-info bg-sign"><i class="fa fa-send mr-3"></i>send </button>
                        </div>
                        <div><label class="mr-2">Length:</label> {{ charLength}} <span class="ml-2"> (max: 10000 )</span> </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>