<div class="col-container">
    <div class="table-respo">
        <!--Table-->
        <table class="table appli-table">
            <!--Table head-->
            <thead class="head-color">
                <tr class="text-bl">
                    <th>&nbsp; Date &nbsp;</th>
                    <th>hour</th>
                    <th>Name</th>
                    <th>organisation</th>
                    <!-- <th>Action</th> -->
                    <th></th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody *ngFor="let item of allQuestions, let indx = index ">
                <tr>
                    <td class="no-wrp">{{item.date}}</td>
                    <td>{{item.hour}}</td>
                    <td>{{item.userAsk.name}}</td>
                    <td>
                        {{item.userAsk.org}}
                    </td>
                    <td>
                    </td>
                    <!-- <td>
                          <a target="_blank" [routerLink]="['/administration-in','desk','questions','details' , item._id ]">
                              <i class="fa fa-eye"></i>
                          </a>
                      </td> -->

                </tr>
                <tr class="text-tr">
                    <th colspan="5">
                        <p [innerHtml]="item.quest_part|bhSafeHtml"></p>
                    </th>
                </tr>
            </tbody>
            <!--Table body-->
        </table>

        <!--Table-->
    </div>
</div>