.no-wrp {
    white-space: nowrap;
}

.text-bl {
    .about {
        width: 18%;
    }
    .action {
        width: 2%;
    }
    .hour {
        width: 7%;
    }
    .date {
        width: 10%;
    }
    .name {
        width: 11%;
    }
    .organisation {
        width: 11%;
    }
}