<div class="bg-deal">
    <div class="container-fluid pl-0">
        <div class="">
            <div class="row">
                <section class="col-team team-fr">
                    <div>
                        <h2>Applications</h2>
                        <div class="selectdiv">
                            <label>
                              <select>
                                  <option selected>Organise par priorite</option>
                                  <option>Option 1</option>
                                  <option>Option 2</option>
                                  <option>Last long option</option>
                              </select>
                          </label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="media team-media">
                            <i class="fa fa-circle-thin"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <span>2</span><br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-square i-square"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-circle-thin i-triangle"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <span>1</span><br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-circle-thin"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <span>7</span><br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-square i-square"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-square i-square"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-circle-thin"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <span>4</span><br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                        <div class="media team-media">
                            <i class="fa fa-square i-square"></i>
                            <div class="media-body pr">
                                <h5 class="mt-0 mb-1">Predicsis</h5>
                                <span>Jean Louis Fucellaro</span>
                            </div>
                            <div class="time-count">
                                <br>
                                <span>03/03/2018</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="col-content content-eco-fr">
                    <h2>Eco-friendly plastic packaging</h2>
                    <nav class="navbar navbar-expand-sm nav-tel">
                        <ul class="navbar-nav ns">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/administration-in','communities','community-space','application-space']">Application</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','communities','community-space','files']">Files</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','deal-space','question-answers']">Questions-Answers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','deal-space','planning']">Planning</a>
                            </li> -->
                        </ul>
                    </nav>
                    <main class="collaboration-container">
                        <div class="ml-16">
                            <router-outlet></router-outlet>
                        </div>
                    </main>
                </section>
            </div>
        </div>
    </div>
</div>