<div  *ngIf="editPAGEstatus" class="oneZonebut">
	<button (click)="editZone()" class="btn btn-info erew"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
	<button *ngIf="canDeleted"  (click)='deleteZone()' class="btn btn-info erew"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div>

<!-- Image -->
<ng-template [ngIf]="dtZone" >

<ng-template [ngIf]="dtZone.dtype == 1">
<div (click)="showZone(dtZone)" class="oz im">
	<img class="img-responsive" [src]="dtZone.image.url" width="100%">
	<div class="overlay_"><i class="fa fa-search chck" ></i></div>
</div>
</ng-template>
<!-- Video  -->
<ng-template [ngIf]="dtZone.dtype == 2">
<div (click)="showZone(dtZone)" class="oz im">
	<div class="video_zone">
		<img width="100%" [src]="dtZone.video.url.im_poster" alt="">
		<span class="captin"><i class="fa fa-play-circle-o "></i> <span>{{dtZone.caption}}</span></span>
		<div class="overlay_"><i class="fa fa-search chck" ></i></div>
	</div>
</div>
</ng-template>
<!-- chiffres  -->
<ng-template [ngIf]="dtZone.dtype == 3">
<div  class="oz">	
  <div class="stats-container">
     <div class="stat-item">
        <span class="stat-label">Année de creation</span>
        <span class="stat-value">{{ dtZone.data_suppl.createdYear }}</span>
     </div>
     <div class="stat-item">
        <span class="stat-label">Collaborateurs</span>
        <span class="stat-value">{{dtZone.data_suppl.collabor}}</span>
     </div>
     <div class="stat-item wide">
        <span class="stat-label">Parité</span>
        <span class="stat-value">
        <span class="value-item">
        <i class="zmdi zmdi-female "></i>
        33%
        </span>
        <span class="value-item">
        <i class="zmdi zmdi-male-alt "></i>
        67%
        </span>
        </span>
     </div>
     <div class="stat-item">
        <span class="stat-label">Année de 20</span>
        <span class="stat-value">2012</span>
     </div>
     <div class="stat-item">
        <span class="stat-label">Collaborateurs</span>
        <span class="stat-value">45</span>
     </div>
     <div class="stat-item wide">
        <span class="stat-label">Âge moyen</span>
        <span class="stat-value">31 ans</span>
     </div>
  </div>

</div>
</ng-template>
</ng-template>