<!-- Image -->
<div  *ngIf="editPAGEstatus" class="">
	<button class="btn btn-info">edit</button>
	<button class="btn btn-info">delete</button>
</div>
<ng-template [ngIf]="dtZone">
<ng-template [ngIf]="dtZone.dtype == 1">
<div class="oz im">
	<img class="img-responsive" [src]="dtZone.image.url" width="100%">
</div>
</ng-template>
<!-- Video  -->
<ng-template [ngIf]="dtZone.dtype == 2">
<div class="oz im">
	<div class="">
		<img [src]="dtZone.video.url.im_poster" alt="">
		<span></span>
	</div>
</div>
</ng-template>
<!-- chiffres  -->
<ng-template [ngIf]="dtZone.dtype == 3">
<div class="oz">	
	<table class="table table-bordered text-center table-bord">
		<tbody>
			<tr>
				<td><a>Annee de creation<br><span >{{ dtZone.data_suppl.createdYear }}</span></a></td>
				<td><a>Collaborateur<br><span >{{dtZone.data_suppl.collabor}}</span></a></td>
			</tr>
			<tr>
				<td colspan="2"><a>Parite<br ><span >22510</span></a></td>
			</tr>
			<tr>
				<td><a>Lorem Ipsum<br ><span >152</span></a></td>
				<td><a>Lorem Ipsum<br ><span >897</span></a></td>
			</tr>
			<tr>
				<td colspan="2"><a>Le Lorem Ipsum est simplement<br ><span >45</span></a></td>
			</tr>
		</tbody>
	</table>
</div>
</ng-template>
</ng-template>