.container-deal {
  position: absolute;
  top: 50px;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
}

.left-col {
  position: absolute;
  top: 0px;
  width: 23%;
  height: 100%;
  background-color: #F4F5F7;
  padding: 10px;
}

.center-idem {
  position: absolute;
  top: 0px;
  left: 23%;
  width: 54%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 15px;
}

.right-idem-disc {
  position: absolute;
  top: 0px;
  left: 77%;
  width: 23%;
  height: 100%;
  background-color: #F4F5F7;
  padding: 10px;
}

.open-sans-regular {
  font-family: arial, sans-serif;
  font-size: 22px;
  color: #E94E45;
}

.organiser-by {
  background-color: #D5DCE0;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}

.collab-list-div {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.collab-list-div:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.title-project-left, .auteur-project-left {
  margin-left: 40px;
  font-size: 16px;
}

.title-project-left {
  color: #393F4B;
  margin-top: -35px;
}

.auteur-project-left {
  color: #8B97A5;
}

.logo-com {
  width: 26px;
  height: 26px;
  margin-top: 10px;
  border-radius: 13px 13px 13px 13px;
}

.afqap {
  font-size: 22px;
  margin-right: 20px;
  z-index: 50000;

}

.table-afqap {
  z-index: 50000;
  margin-top: -40px;
}

.table-afqap tr {
  z-index: 50000;
}

.td-afqap {
  border-bottom: solid 3px rgba(0, 0, 0, 0);
  z-index: 50000;
}

.td-afqap:hover {
  border-bottom: solid 3px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #D5DCE0;
  margin-top: 40px;
}