<!-- end nav -->
<nav class="navbar navbar-expand bg-nav">
    <div class="grid-project flex">
      <a class="navbar-brand" href="#"><img class="img-responsive" src="{{header_page_logo}}" width="155px" height="80%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto mr-left-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#">accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">entreprises</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">porteurs de projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">projets</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">service </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">communautes</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-md-0 connexion">
          <button class="btn-inscrire"><i class="fa fa-user-o"></i>s'inscrire</button>
          <button class="btn-connect"><i class="fa fa-sign-in"></i>se connecter</button>
        </div>
      </div>
    </div>  
</nav>
<!-- end nav -->
<div class="grid-project">
    <div class="after-nav">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <div class="form-inline my-2 my-md-0 option-list">
                    <div class="option-div">
                    <select class="">
                        <option value="" disabled selected>Projets d'open innovation</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">Types de projets</span>
                    </div>
                    <div class="option-div">
                    <select class="select-two">
                        <option value="" disabled selected>Toutes les categories</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">categories</span>
                    </div>
                    <div class="option-div">
                    <select class="">
                        <option value="" disabled selected>France</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">pays</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                <button class="btn-pro-project"><i class="fa fa-plus"></i>se connecter</button>
            </div>
        </div>
    </div>
</div>
<div class="bg-gri"></div>
<div class="grid-project">
    <div class="after-nav">
        <div class="row mb-12">
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st1.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st2.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st3.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st4.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st5.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mb-12">
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st1.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st2.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st3.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st4.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card-st">
                    <img class="img-responsive" src="{{g.base_href}}assets/img/st5.png" width="195" height="100">
                    <h4>lorem ipsum</h4>
                    <p>projet programme</p>
                    <ul>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                        </li>
                        <li>
                            <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="form-inscription">
    <h4>je cree mon compte gratuitement</h4>
    <div class="medium-form">
        <input type="email" placeholder="Raison sociale*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="Nom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="Prenom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="E-mail*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <p class="field-necessary"><i>* Champs necessaire</i></p>
        <button  type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-form">ouvrir mon compte gratuit</button>
    </div>
</section>

<section class="request-information">
    <img src="{{g.base_href}}assets/img/bgfooter.jpg" class="bg">
    <div class="grid-project ">
        <div class="row">
            <div class="col-5 mt-75">
                <img src="{{g.base_href}}assets/img/logofooter.png">
                <h3 class="open">Plateforme d'open innovation</h3>
                <div class="footerlegal">
                    <p>Copyright 2017 Collaboration Capital  -  
                    <a href="">Mentions Légales</a>
                    </p>
                </div>
            </div>
            <div class="col-7">
                <h3 class="request-h3">Demande de Renseignements</h3>
                <div class="row">
                    <div class="col">
                        <input type="email" placeholder="Nom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                        <input type="email" placeholder="Prenom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                        <input type="email" placeholder="Adresse e-mail*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                        <input type="email" placeholder="Numero de telephone" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                    </div>
                    <div class="col p-0">
                        <div class="form-group">
                            <textarea placeholder="Votre message*" class="form-control rounded-0 textarea-info" id="exampleFormControlTextarea1" rows="10"></textarea>
                            <button  type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-form btn-footer">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>