<div class="deal-file-container">
  <table class="deal-table-list">
    <tr>
      <th>NAME</th>
      <th>LAST UPDATE</th>
      <th>SIZE</th>
      <th>AUTHOR</th>
      <th class="r-align"><input type="button" class="bt-insert" value="Insert"></th>
    </tr>
    <tr class="deal-file-row">
      <td>File 1</td>
      <td>Nov 04, 2017</td>
      <td>300 Ko</td>
      <td>Jamal</td>
      <td></td>
    </tr>
    <tr class="deal-file-row">
      <td>File 2</td>
      <td>Jan 16, 2018</td>
      <td>4 Mo</td>
      <td>Jamal</td>
      <td></td>
    </tr>
  </table>
</div>
