.deal-file-container {
  width: 100%;
  padding-top: 10px;
}
.deal-file-container .deal-table-list {
  width: 100%;
}
.deal-file-container table .deal-file-row:hover {
  background-color: #F4F5F7;
}
.deal-file-container table tr .r-align {
  text-align: right;
}
.deal-file-container table tr th {
  font-size: 16px;
  font-family: SourceSansPro-Regular;
}
.bt-insert {
  background-color: #E94E45;
  border-radius: 3px 3px 3px 3px;
  width: 70px;
  height: 22px;
  font-size: 12px;
  font-family: SourceSansPro-Regular;
  margin-top: -2px;
  border: none;
}
