.grey-text-form{
    text-transform: uppercase;
    font-size: 14px;
    font-family: SourceSansPro-Semibold;
    color: #606060;
    letter-spacing: 0.3px;
}
.ed-2{
    box-shadow: 0.2px 0px 0.1px 1px #e84d3f;
}
.btn-unique-edit{
    background: linear-gradient(-90deg, #e83936, #f94d37);
    font-family: SourceSansPro-Bold;
    margin-bottom: 30px;
    margin-top: 27px;
}
.form-control-project{
    width: 98%;
    height: 37px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6e9ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-left: 14px;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e6e9ec;
    box-shadow: 0 1px 0 0 #e6e9ec;
}
.mb-20{
	margin-bottom:20px;
}
.unit-display{
    display: inline-grid;
    top: 0px;
    position: relative;
    select{
        background: white;
        min-width: 110px;
        border: 1px solid #e6e9ec;
        height: 41px !important;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }
}