<ng-template [ngIf]="communityShow">
  <div class="">
    <table class="table appli-table">
      <thead class="head-color">
        <tr class="text-bl">
          <th>Date</th>
          <th>Organisation</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Activity</th>
          <th>Last</th>
          <th>About</th>
          <th>Community</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userCommData">
          <th class="tb">
            {{getDateString(item.last_date)}}
          </th>
          <td>{{item.org}}</td>
          <td class="tb">{{item.us.firstname}}</td>
          <td class="tb">{{item.us.lastname}}</td>
          <td>d</td>
          <td>d</td>
          <td>
            <span *ngIf="item.last_act !='application'" class="text-capitalize">
              {{item.last_act}}
            </span>
            <span *ngIf="item.last_act =='application'" class="text-capitalize">
              {{item.lastPrName}}
            </span>
          </td>
          <td class="text-center">
            <span *ngIf="item.last_act !='application'" class="text-capitalize">
              Passive
            </span>
            <span *ngIf="item.last_act =='application'" class="text-capitalize">
              passive/active (wait deal space)
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template [ngIf]="anyUser">
  <div>Any User Found</div>
</ng-template>
