<!-- <div class="bg-fr-color log-in-register">
    <img [src]="img_avatar" class="rty" alt="First sample avatar image" width="100%" height="100%" style="position:absolute;">
</div> -->
<div class="section-login">

    <!-- Rest passWord  -->
    <section class="form-dark row" *ngIf='!loginFormFlag'>
        <div class="bg-login col-xl-6 col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <div class="container">
                <message-notif *ngIf="error_log" [message]="text_" [type]="type_"></message-notif>
            </div>
            <form class="form-up" [formGroup]="resetpassForm" (ngSubmit)="resetFormSubmit()">
                <div class="text-white content-rgba py-5 px-5-edit">
                    <div class="text-left text-logo">
                        <!-- <img [src]="img_logo" class="rty" alt="First sample avatar image" width="53%" height="100%"> -->
                        <h4>Reinitialiser mot de passe</h4>
                    </div>
                    <div class="input-md">
                        <input type="email" placeholder="Your email" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                    </div>

                    <div class="row input-md">
                        <div class="col-md-6 col-sm-6  p-0">
                            <button [ngClass]="{'disabled':!resetpassForm.valid }" type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-sign">Sign in</button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="agree mb-agree">se connecter? click&nbsp;?&nbsp;
                                <a [routerLink]="['/sign-in']"><a (click)='forgotPasswordInit($event)' ><span>here</span></a></a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="meet-future" [ngStyle]="{'background-image': getUrl()}">
                <aside></aside>
            </div>
        </div>
    </section>

    <!-- Login Form -->
    <section class="form-dark row" *ngIf='loginFormFlag'>
        <div class="bg-login col-xl-6 col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <form class="form-up" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
                <div class="text-white content-rgba py-5 px-5-edit">
                    <div class="text-left text-logo">
                        <!-- <img [src]="img_logo" class="rty" alt="First sample avatar image" width="53%" height="100%"> -->
                        <h4>Login to your account</h4>
                        <p>Collaborate with innovative ecosystems</p>
                    </div>
                    <div class="input-md">
                        <label>Email</label>
                        <input placeholder="Your email" type="email" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
                    </div>
                    <div class="pb-3 input-md">
                        <label>password</label>
                        <input placeholder="Your password" type="password" formControlName="bh_pass" id="bh_pass" class="form-control" mdbActive>
                    </div>
                    <div class="mdp-me input-md">
                        <span class="remember-me">Remember me</span>
                        <span class="forgot-pwd">Forgot password ?<a (click)='forgotPasswordInit($event)'  href=""><u class="recovery">Recovery</u></a></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <button [ngClass]="{'disabled':!loginForm.valid}" type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-sign">Sign in</button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="agree mb-agree">not already member ?&nbsp;&nbsp;
                                <a [routerLink]="['/sign-in']"><span>sign up</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 p-0">
            <div class="meet-future" [ngStyle]="{'background-image': getUrl()}">
                <aside></aside>
            </div>
        </div>
    </section>
</div>