.err_msg {
    position: absolute;
    top: 52px;
    font-size: 10px;
    color: red;
}

.ferr_msg {
    position: absolute;
    top: 25px;
    font-size: 10px;
    color: red;
}

.err_sh{
 border-bottom:  1px solid #ee1111;
}