<div class="jumbotron bg-mind">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-two grid">
        <a class="navbar-brand nr-brand" href="#"><img class="img-responsive" src="../../../assets/img/logo2.png" width="120"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="list-nav">
            <li><h1>Pfizer</h1></li>
            <li>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </nav>
  </div>
  <nav class="bg-light nav-one">
    <div class="navbar navbar-expand-lg navbar-light grid">
        <a class="navbar-brand" href="#"><img class="img-responsive img-logo" src="../../../assets/img/logo2.png" width="120"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-col" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ideas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mindset</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
    <div class="container-fluid grid">
        <div class="row">
          <div class="col-6">
                  <img class="img-responsive" src="../../../assets/img/video1.png" width="100%" height="350px">
          </div>
          <div class="col-6 presentation">
              <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression. Il a été popularisé 
                  dans les années 1960 grâce à la vente de feuilles Letraset 
                  contenant des passages du Lorem Ipsum, et, plus récemment, par 
                  son inclusion dans des applications de mise en page de texte, 
                  comme Aldus PageMaker.
                </p>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                  la composition et la mise en page avant impression.
                  Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                  depuis les années 1500, quand un peintre anonyme assembla 
                  ensemble des morceaux de texte pour réaliser un livre spécimen 
                  de polices de texte.
                </p>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                    la composition et la mise en page avant impression.
                    Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                    depuis les années 1500, quand un peintre anonyme assembla 
                    ensemble des morceaux de texte pour réaliser un livre spécimen 
                    de polices de texte.
                </p>
                <p class="lead">                   
                    <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!<i class="fas fa-question-circle"></i></a>
                    <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">lorem</a>
                </p>
          </div>
        </div>
      </div>
      <hr class="grid hr">
      <div class="container-fluid grid">
          <div class="row">
            <div class="col-6">
                    <img class="img-responsive" src="../../../assets/img/video1.png" width="100%" height="350px">
            </div>
            <div class="col-6 presentation">
                <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                    la composition et la mise en page avant impression. Il a été popularisé 
                    dans les années 1960 grâce à la vente de feuilles Letraset 
                    contenant des passages du Lorem Ipsum, et, plus récemment, par 
                    son inclusion dans des applications de mise en page de texte, 
                    comme Aldus PageMaker.
                  </p>
                  <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                    la composition et la mise en page avant impression.
                    Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                    depuis les années 1500, quand un peintre anonyme assembla 
                    ensemble des morceaux de texte pour réaliser un livre spécimen 
                    de polices de texte.
                  </p>
                  <p>Le Lorem Ipsum est simplement du faux texte employé dans 
                      la composition et la mise en page avant impression.
                      Le Lorem Ipsum est le faux texte standard de l'imprimerie 
                      depuis les années 1500, quand un peintre anonyme assembla 
                      ensemble des morceaux de texte pour réaliser un livre spécimen 
                      de polices de texte.
                  </p>
                  <p class="lead">                   
                      <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!<i class="fas fa-question-circle"></i></a>
                      <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">lorem</a>
                  </p>
            </div>
          </div>
        </div>