.grid{
    width: 92%;
    margin: 0 auto;
    box-shadow: none;
}

.head-color{
	background-color: #ffffff !important;
    border-bottom: 1px solid #f3f3f3;
	    th{
	    	border-bottom: none;
	    }
	    .text-bl{
	    	color:#393f4b;
	    }
}