.grid {
    width: 92%;
    margin: 0 auto;
    box-shadow: none;
}
.text-bl{
    th{
        width: 12.5%;
    }
}
.privil-td{
    background: #989898;
    color: white;
    border: 1px solid white !important;
    font-family: SourceSansPro-Bold;
    text-align: center;
}