<!-- <div id="app" class="container-fluid bg-nav-color">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded nav-load">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
             
            </ul>
            <ul class="navbar-nav nav-top">
                <li class="nav-item">
                    <span class="fb"><i class="fab fa-facebook"></i></span>
                </li>
                <li class="nav-item">
                    <span class="span-twitter"><i class="fab fa-twitter"></i></span>
                </li>
                <li class="nav-item">
                    <span><i class="fab fa-linkedin-in"></i></span>
                </li>
                <li class="nav-item">
                    <span class="span-youtube"><i class="fab fa-youtube"></i></span>
                </li>
                <li class="nav-item">
                    <span><i class="fab fa-instagram"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link  color-white recrute-text" href="">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="jumbotron text-center bg-jumbotron"  [ngStyle]="{background:' url(assets/img/equipe.jpg)'}">
    <img src="../../../assets/img/images.png">
    <p>space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

-->
<div id="app" class="container-fluid bg-nav-color">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded nav-load">
        <div id="" class="navbar-read">
            <ul class="navbar-nav mr-auto nav-logo">
                <li class="nav-item">
                    <span class="img-logo"><img src="/assets/img/logo-2.png" width="17"></span>
                </li>
            </ul>
            <ul class="navbar-nav nav-top">
                <li class="nav-item i8">
                    <span class=""><img src="/assets/img/fb-8.png" width="6"></span>
                </li>
                <li class="i8">
                    <span class="ligne-vertical">|</span>
                </li>
                <li class="nav-item i8">
                    <span class="tw-8"><img src="/assets/img/tw-8.png" width="13"></span>
                </li>
                <li class="i8">
                    <span class="ligne-vertical">|</span>
                </li>
                <li class="nav-item i8">
                    <span><img src="/assets/img/in-8.png" width="13"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link  color-white recrute-text" href="">Connexion</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="silde">
                <div class="jumbotron text-center bg-jumbotron">
                    <img src="../../../assets/img/logo.png" width="90">
                    <h1>Business Haven</h1>
                    <h2>Open your organization to innovate</h2>
                    <p class="lead">                   
                        <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!</a>
                        <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">I create my organization</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item ct2">
            <div class="silde">
                <div class="jumbotron text-center bg-jumbotron">
                    <img src="../../../assets/img/logo.png" width="90">
                    <h1>Business Haven</h1>
                    <h2>Open your organization to innovate</h2>
                    <p class="lead">                   
                        <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!</a>
                        <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">I create my organization</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item ct3">
            <div class="silde">
                <div class="jumbotron text-center bg-jumbotron">
                    <img src="../../../assets/img/logo.png" width="90">
                    <h1>Business Haven</h1>
                    <h2>Open your organization to innovate</h2>
                    <p class="lead">                   
                        <a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!</a>
                        <a class="btn btn-primary btn-lg btn-crt" href="#" role="button">I create my organization</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    