<div id="app" class="container-fluid bg-nav-color">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded nav-load">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
              <!-- logo -->
            </ul>
            <ul class="navbar-nav nav-top">
                <li class="nav-item">
                    <span><i class="fab fa-facebook"></i></span>
                </li>
                <li class="nav-item">
                    <span class="span-twitter"><i class="fab fa-twitter"></i></span>
                </li>
                <li class="nav-item">
                    <span><i class="fab fa-linkedin-in"></i></span>
                </li>
                <li class="nav-item">
                    <span class="span-youtube"><i class="fab fa-youtube"></i></span>
                </li>
                <li class="nav-item">
                    <span><i class="fab fa-instagram"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link  color-white recrute-text" href="{{ url('/register') }}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>