<div class="col-container">
	<h2>Application form</h2>
	<hr>
	<h3>collaboration type</h3>
	<div class="row pb-3">
		<div class="col-6 pl-0">
			<div class="type-name">
			  <label class="grey-text-form">Name</label>
			  <input type="text"  name="pName" class="form-control-project prN" placeholder="name project">
			  <i class="fa fa-check"></i>
			</div>
		</div>
		<div class="col-6 pr-0">
			<div class="mb-20">
			  <label class="grey-text-form">description</label>
			  <textarea placeholder="description project" type="text"  name="" class="t-area"></textarea>
			</div>
		</div>
	</div>
	<h3>identity</h3>
	<div class="row">
		<div class="col-6 pl-0">
			<div class="mb-20">
			  <label class="grey-text-form">organisation name</label>
			  <input type="text"  name="pName" class="form-control-project prN" placeholder="organisation name">
			</div>
		</div>
		<div class="col-6 pr-0"></div>
	</div>
	<div class="row pb-4">
		<div class="col-6 pl-0">
			<div class="type-name-o">
			  <label class="grey-text-form">date</label>
			  <input type="text"  name="pName" class="form-control-project prN" placeholder="date">
			  <i class="fa fa-calendar"></i>
			</div>
		</div>
		<div class="col-6 pr-0">
			<div class="ds-g">
			  <label class="grey-text-form">country</label>
		      <select>
		         <option value="" selected="">select a country</option>
		         <option value="">Ukraine</option>
		         <option value="">Suisse</option>
		      </select>
			</div>
		</div>
	</div>
	<h3>activity and skills</h3>
	<div class="row pt-4">
		<div class="col-6 pl-0">
			<div class="mb-20">
			  <label class="grey-text-form">description</label>
			  <textarea placeholder="description project" type="text"  name="" class="t-area"></textarea>
			  <i class="fa fa-pencil i-pen"></i>
			</div>
		</div>
		<div class="col-6 pr-0">
			<div class="mb-20">
			  <label class="grey-text-form">description</label>
			  <textarea placeholder="description project" type="text"  name="" class="t-area"></textarea>
			</div>
		</div>
		<div class="col-6 pl-0">
			<div class="mb-20">
			  <label class="grey-text-form">description</label>
			  <textarea placeholder="description project" type="text"  name="" class="t-area"></textarea>
			</div>
		</div>
	</div>
	<h3>proposition of collaboration</h3>
	<p class="pr-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	<div class="row pb-4">
		<div class="col-12 p-0">
			<div class="mb-20">
			  <label class="grey-text-form">description</label>
			  <textarea placeholder="description project" type="text"  name="" class="t-area"></textarea>
			</div>
		</div>
	</div>
	<button class="float-right mb-4 btn-col"><i class="fa fa-send pr-2"></i>send</button>
</div>
