$green: #71BF71;

h2 {
    color: #e63636;
    font-size: 22px;
    font-family: SourceSansPro-Regular;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #393f4b;
    font-family: SourceSansPro-Semibold;
}
