$color1 : #e55037;
$color2 : #393F4B;
$gray : #a7a7a7;
li{
	list-style:none;
}
/* nav sidebar */
.side-nv{
	position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    .wrapper{
    	margin-top: -30px;
    }
    ul li{
    	margin-top: 15px;
    }
    ul li a{
    	font-size: 14px;
	    font-family: SourceSansPro-Semibold;
	    color: $color2;
	    letter-spacing: 0.3px;
    }
}
.ml-16{
	margin-top: 52px;
}
.side-title{
	margin-left: 30px;
	i{
		padding-right: 10px;
	}
}

/* end nav sidebar */

.float-r{
    right: 0;
    position: absolute;
    margin-right:74px;
    li{
        margin-right: 2px;
        a{
            border: 1px solid #8080801f;
        }
    }
}
.select-col{
    color: #da5445 !important;
    font-family: SourceSansPro-Semibold !important;
    font-size: 16px !important;
    top: -4px;
    position: relative;
    border:none !important;
}
