<section class="form-inscription">
    <h4>je cree mon compte gratuitement</h4>
    <div class="medium-form">
        <form [formGroup]="registerForm" (ngSubmit)="resetFormSubmit()">
            <input type="text" placeholder="Raison sociale*" formControlName="bh_acc_socialMean" id="bh_acc_socialMean" class="form-control" mdbActive validate required="required">
            <input type="text" placeholder="Nom" formControlName="bh_lastname" id="bh_lastname" class="form-control" mdbActive validate required="required">
            <input type="text" placeholder="Prenom" formControlName="bh_firstname" id="bh_firstname" class="form-control" mdbActive validate required="required">
            <input type="email" placeholder="E-mail*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
            <p class="field-necessary"><i>* Champs necessaire</i></p>
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-form">ouvrir mon compte gratuit</button>
        </form>
    </div>
</section>