<section class="form-inscription">
    <h4>je cree mon compte gratuitement</h4>
    <div class="medium-form">
        <input type="email" placeholder="Raison sociale*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="Nom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="Prenom" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <input type="email" placeholder="E-mail*" formControlName="bhemail" id="bhemail" class="form-control" mdbActive validate required="required">
        <p class="field-necessary"><i>* Champs necessaire</i></p>
        <button  type="submit" class="btn btn-success btn-block btn-rounded z-depth-1 bg-form">ouvrir mon compte gratuit</button>
    </div>
</section>