.no-wrp {
    white-space: nowrap;
}

.table {
    width: 99%;
    .text-tr {
        border: 1px solid #dee2e6;
    }
    tbody+tbody {
        border-top: 0px solid #dee2e6;
    }
}

.btn-apply {
    background: #e83936;
    border: 1px solid #e83936;
    color: white !important;
    font-size: 16px;
    border-radius: 0px;
    text-transform: initial;
    padding: 7px 14px 7px 14px;
    box-shadow: none;
    font-size: 12px;
    font-family: SourceSansPro-Bold;
    text-transform: uppercase;
    i {
        font-size: 14px;
    }
    span {
        padding-right: 10px;
    }
}

.btn-question {
    background: black;
    border: 1px solid black;
    border-radius: 0;
    margin-left: -11px;
    box-shadow: none;
    padding: 7px 14px 7px 14px;
    font-size: 12px;
    font-family: SourceSansPro-Bold;
    i {
        font-size: 14px;
    }
    span {
        padding-right: 10px;
    }
}

.close-m {
    z-index: 1;
}