<div class="col-container">
  <div class="table-respo">
    <!--Table-->
    <table class="table appli-table">
      <!--Table head-->
      <thead class="head-color">
        <tr class="text-bl">
          <th>&nbsp; Date &nbsp;</th>
          <th>hour</th>
          <th>Name</th>
          <th>organisation</th>
          <!-- <th>Action</th> -->
          <th></th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody *ngFor="let item of allQuestions, let indx = index ">
        <tr>
          <td class="no-wrp">{{item.date}}</td>
          <td>{{item.hour}}</td>
          <td>{{item.userAsk.name}}</td>
          <td>
            {{item.userAsk.org}}
          </td>
          <td>
          </td>
          <!-- <td>
                        <a target="_blank" [routerLink]="['/administration-in','desk','questions','details' , item._id ]">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td> -->

        </tr>
        <tr class="text-tr">
          <th colspan="5">
            <p [innerHtml]="item.quest_part|bhSafeHtml"></p>
          </th>
        </tr>
        <tr class="text-right">
          <th colspan="5">
            <a (click)="archivequestions(item, indx)" class="btn btn-primary btn-lg btn-question" role="button">
              <span>delete</span>
              <i class="fa fa-remove"></i>
            </a>
            <a (click)="showMod(item)" class="btn btn-primary btn-lg btn-apply" role="button">
              <span>Reply</span>
              <i class="fa fa-check"></i>
            </a>
          </th>
        </tr>
      </tbody>
      <!--Table body-->
    </table>

    <!--Table-->
  </div>
</div>


<div class="">
  <div style="overflow: auto;" mdbModal #modalHist="mdb-modal" class="modal fade" id="modalZoneForm2" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close close-md close-m" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <div class="modal-body">
          <div class="askm">
            <form [formGroup]="responseForm">
              <div class=" quest_ ">
                <div class=" ">
                  <label>Your Questions :</label>
                  <ckeditor name='respValue' formControlName="respValue" [config]="g.getConfig( 'conf0_editor')" [readonly]="false" debounce="100">
                  </ckeditor>
                </div>
                <div class="mt-2 ">
                  <button [ngClass]="{disabled: !responseForm.valid}" (click)="sendQReply()" class="btn btn-md btn-info bg-sign ">
                    <i class="fa fa-send mr-3 "></i>send </button>
                </div>
                <div>
                  <label class="mr-2 ">Length:</label>
                  <span class="ml-2 "> (max: 10000 )</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
