
.grid_{
    width: 95% !important;
    margin: 0 auto;
    box-shadow: none;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.grid-top{
    margin-bottom: 20px;        
        h2{
            font-size: 18px;
            margin-top: 15px;
            color: black;
            font-family:SourceSansPro-Semibold;
        } 
}