<page-header></page-header>
<edit-page-button></edit-page-button>
<div class="container-fluid grid top-mr">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="row  row-bottom">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <img class="img-responsive" src="{{g.base_href}}assets/img/video1.png" width="100%" height="293px">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 edit-margin">
          <table class="table table-bordered text-center table-bord">
            <tbody>
              <tr>
                <td><a>Lorem Ipsum<br><span>152</span></a></td>
                <td><a>Lorem Ipsum<br><span>1040</span></a></td>
              </tr>
              <tr>
                <td colspan="2"><a>Lorem Ipsum<br><span>22510</span></a></td>
              </tr>
              <tr>
                <td><a>Lorem Ipsum<br><span>152</span></a></td>
                <td><a>Lorem Ipsum<br><span>897</span></a></td>
              </tr>
              <tr>
                <td colspan="2"><a>Le Lorem Ipsum est simplement<br><span>45</span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video2.jpg" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video3.jpg" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video4.jpg" width="100%"></p>
        </div>
        <div class="col-4">
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video5.jpg" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video6.jpg" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video5.jpg" width="100%"></p>
        </div>
        <div class="col-4">
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video1.png" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video2.jpg" width="100%"></p>
          <p><img class="img-responsive" src="{{g.base_href}}assets/img/video8.jpg" width="100%"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <presentation-side></presentation-side>
    </div>
  </div>
</div>
