.adminEdit {
	padding: 0.375rem 0.75rem !important;
	margin-top: 12px;
	margin-bottom: 12px;
	right: 10px;
	z-index: 9;
}

.btntext {
	@media(max-width:450px) {
		display: none;
		transition: 1s ease
	}

}
