.box-s{
    box-shadow: none;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    img{
        box-shadow: none;
        border-radius: 0px;
    }
}
.mg-all{
    margin: 44px;
}
.card-w{
    width: 100%;
    margin-top: 12px;
    a svg{
        margin: 5px;
    }
}
.fb-ic{
    color: #3b5998!important;
    font-size: 18px;
}
.in-ic{
    color: #0082ca!important;
    font-size: 18px;
}
.sk-ic{
    color: #55acee!important;
    font-size: 18px;
}