/* .box-s{
    box-shadow: none;
    border: 1px solid #d4d4d4;
    border-radius: 0px;
    img{
        box-shadow: none;
        border-radius: 0px;
    }
}
.mg-all{
    margin: 44px;
}
.card-w{
    width: 100%;
    margin-top: 12px;
    a svg{
        margin: 5px;
    }
}
.fb-ic{
    color: #3b5998!important;
    font-size: 18px;
}
.in-ic{
    color: #0082ca!important;
    font-size: 18px;
}
.sk-ic{
    color: #55acee!important;
    font-size: 18px;
}
@media(max-width:767px){
.img-c{
    width: inherit !important;
}
}


.user-l {
    padding-right: 6px;
  }
  .user-r {
    padding-left: 6px;
  }
  .user-l >img,
  .user-r >img {
    width: 150px;
  }
  .redes >ul li a {
    width: 42px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 10em;
    border: #EEE 1px solid;
  }
  .redes >ul li span {
    color: #CCC;
    font-size: 18px;
  }
  .footer {
      padding: 16px 0;
  }

  .img-t{
    height: 130px;
  }
  .small{
      .btn{
        padding: 4px 7px 4px 7px;
      }
  }
  .card-header{
    font-weight: 700;
    text-transform: capitalize;
  }
  .lighten-10{
      // background: #96979e !important;
      color: #8e9898 !important;
      border-bottom: none !important
  }

 .card-header:hover>.small{
  display: block !important;
 }

 .bnt{
  margin: 0px !important; 
 } */



  .card {
     display: inline-block;
     position: relative;
     width: 100%;
     margin: 25px 0;
     box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);
     border-radius: 0px !important;
     color: rgba(0, 0, 0, 0.87);
     background: #fff;
 }
 .card-stats .card-header {
     float: left;
     text-align: center;
 }
 .card [data-background-color] {
     color: #FFFFFF;
 }
 .card [data-background-color="orange"] {
     background: linear-gradient(60deg, #ffa726, #fb8c00);
     box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
 }
 .card [data-background-color] {
     box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
     margin: -20px 15px 0;
     border-radius: 3px;
     padding: 15px;
     background-color: #FFFFFF;
     position: relative;
 }
 .card .card-header {
     padding: 0px;
     z-index: 3;
         border-bottom-width: 0px !important;
 }
 .card-header img {
     width: 90px;
     height: 90px
 }
 .card-stats .card-content {
     text-align: right;
     padding-top: 10px;
 }
 .card .card-content {
     padding: 15px 20px;
     position: relative;
 }
 .card .card-footer {
     margin: 0;
     padding-top: 10px;
     border-top: 1px solid #eeeeee;
     border-radius: 0px
 }
 p.namecommerce {
     margin-top: -5px !important;
     font-weight: bold;
     margin-bottom: 5px;
 }

 .nimb{
  color: grey;
    font-size: 14px;
    font-weight: lighter;
 }

.erd{
  color: gray;
  
}