<page-header [pageCurrent]="mindset_page"></page-header>

<div *ngIf="!showInfo" class="container-fluid grid grid-top">
  <h5 class="profile-h5">your profile</h5>
  <div class="row">
    <div class="col-lg-9">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <p-info [details_]="details"></p-info>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <p-completion></p-completion>
            </div>
          </div>
      <hr>
      <!-- Personal Info data -->
      <form id="editForm_" class="" [formGroup]="EditForm" (ngSubmit)="EditProfile()">
        <div class="title-edit">
          <h4>Personnal info</h4>
          <span>
            <button *ngIf="!editPInfo" (click)='activeInfoEdit()' type="button" class="btn  btn-block darken-edit ed"><i class="fa fa-pencil"></i><span class="edit-person">edit personnal info</span></button>
          <button *ngIf="editPInfo" [ngClass]="{'disabled': !EditForm.valid}" type="submit" class="btn  btn-block saveEdit ed"><i class="fa fa-check"></i><span class="edit-person">save edit</span></button>
          </span>
        </div>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">Firstname</label>
            <input [attr.readonly]="!editPInfo ? true : null" type="text" formControlName="bh_firstname" id="bh_firstname" class="form-control col-xs-12">
          </span>
          <span class="mg-left-wt">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">Lastname</label>
            <input [attr.readonly]="!editPInfo ? true : null" formControlName="bh_lastname" id="bh_lastname"  type="text" class="form-control col-xs-12">
          </span>
        </div>
        <br>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" [attr.readonly]="!editPInfo ? true : null" class="grey-text-form">email</label>
            <input [attr.readonly]="!editPInfo ? true : null" type="email" formControlName="bh_email"  class="form-control">
          </span>
          <span class="mg-left-wt">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">function</label>
            <input [attr.readonly]="!editPInfo ? true : null" type="text" formControlName="bh_functions" id="bh_functions" class="form-control" />
          </span>
        </div>
      </form>
      <hr>
      <!-- PassWord Data -->
      <form  id="editPassword_" class="" [formGroup]="editPassword" (ngSubmit)="EditPassword()">
        <div class="title-edit">
          <h4>Connexion</h4>
          <span>
            <button [ngClass]="{'disabled':!editPassword.valid || editPassword.value.bh_passConf != editPassword.value.bh_pass }" class="btn btn-unique-edit ed-2" type="submit"><i class="fa fa-check"></i><span class="edit-person">Save edit</span></button>
          </span>
        </div>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">Password</label>
            <input type="password" formControlName="bh_pass" id="bh_pass" class="form-control">
          </span>
          <span class="mg-left-wt">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">Confirm Password</label>
            <input type="password" formControlName="bh_passConf" id="bh_passConf"  class="form-control">
          </span>
        </div>
      </form>
      <hr>
      <!--   company Data  -->
      <form *ngIf="isAdmin" class="swe" id="ewd" [formGroup]="uform" (ngSubmit)="onUpdateFormSubmit()">
        <div class="title-edit">
          <h4>Edit Organisation</h4>
          <span>
            <button (click)="activeCmpInfoEdit()" type="button" class="btn  btn-block darken-edit ed"><i class="fa fa-pencil"></i><span class="edit-person">edit personnal info</span></button>
          </span>
        </div>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">company name</label>
            <input [attr.readonly]="!editCompInfo? true : null" type="text" formControlName="_acc_commercial"  class="form-control" placeholder="Enter your company name">
          </span>
          <span class="mg-left-wt">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">activity</label>
            <input [attr.readonly]="!editCompInfo? true : null" type="text" formControlName="_acc_socialMean" class="form-control" placeholder="Enter your activity">
          </span>
        </div>
        <br>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">type</label>
            <input [attr.readonly]="!editCompInfo? true : null" type="text" formControlName="_orgType" class="form-control" placeholder="Technologie,Media">
          </span>
          <span class="mg-left-wt">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">location</label>
            <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
          </span>
        </div>
        <br>
        <div class="flex" style="width: 100%">
          <span class="mg-left">
            <label for="defaultFormRegisterNameEx" class="grey-text-form">website</label>
            <input [attr.readonly]="!editCompInfo? true : null" formControlName="_acc_websitLink"  type="url" class="form-control" placeholder="Your website link: http(s)://www. ....">
          </span>
          <span class="mg-left-wt">
            <label class="block-txt">edit</label>
            <button [ngClass]="{'disabled': !editCompInfo }" class="btn btn-unique-edit btn-width ed-2" type="submit"><i class="fa fa-check"></i><span class="edit-person">Save edit</span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="showInfo">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Juste un pas de plus!</h4>
    <p>Oui, votre compte a été créé avec succès, ce message d'alerte est important. Pour accéder à l'ensemble de votre compte et à celui de votre entreprise, veuillez consulter votre adresse e-mail utilisée lors de l'inscription. Un e-mail a été envoyé pour activer votre compte.</p>
    <p class="mb-0"> Je vous remercie. </p>
  </div>
</div>


