<!-- Select Zone type on Add -->
<div *ngIf="actionAdd" class="form-group">
	<select class="form-control sl_newZone" (change)='zoneSelectChange($event)' [(ngModel)]="selectedZone">
		<option value="imAdd">Image</option>
		<option value="vidAdd">Video</option>
		<option *ngIf="!inArray(3 , existDtype )" value="chiffrAdd">Chiffres</option>
		<!-- <option  *ngIf="!inArray(4, existDtype )" value="tweetAdd">Tweet</option>
		<option *ngIf="!inArray(5 , existDtype )" value="fbAdd">Facebook</option>
		<option *ngIf="!inArray(6 , existDtype )" value="txtAdd">Text Quote</option>
		<option *ngIf="!inArray(7 , existDtype )" value="mapAdrAdd">Map</option> -->
	</select>
</div>

<!-- Select Zone type on edit -->
<div *ngIf="!actionAdd" class="form-group">
	<select class="form-control" (change)='zoneSelectChange($event)' [(ngModel)]="selectedZone">
		<option *ngIf="inArray(1 , AllowedZone )"value="imAdd">Image</option>
		<option *ngIf="inArray(2 , AllowedZone )"value="vidAdd">Video</option>
		<option *ngIf="inArray(3 , AllowedZone )" value="chiffrAdd">Chiffres</option>
		<!-- <option  *ngIf="inArray(4, AllowedZone )" value="tweetAdd">Tweet</option>
		<option *ngIf="inArray(5 , AllowedZone )" value="fbAdd">Facebook</option>
		<option *ngIf="inArray(6 , AllowedZone )" value="txtAdd">Text Quote</option>
		<option *ngIf="inArray(7 , AllowedZone )" value="mapAdrAdd">Map</option> -->
	</select>
</div>


<div *ngIf="selctFlag.imAdd && actionAdd" class="imAdd">
	<span>
	Add Image
	</span>
	<div class="row">
		<div class="col-md-5 pl-0">
			<form [formGroup]="imForm" (ngSubmit)="saveImageZone()">
				<div class="">
					<label>Caption:</label>
					<input formControlName="imCaption" type="text" name="" class="input-story">
				</div>
				<button type="submit" [ngClass]="{disabled : !imForm.valid || imNotSelected }" class="btn btn-default"> Save </button>
			</form>
		</div>
		<div class="col-md-7">
			<im-select [entity]="cpy_entity" [im_to]="newDestFile"></im-select>
		</div>
	</div>
</div>


<div *ngIf="selctFlag.imAdd && !actionAdd" class="imAdd">
	<div class="row">
		<div class="col-md-5 pl-0">
			<form [formGroup]="imForm" (ngSubmit)="saveImageZone()">
				<div class="">
					<label>Caption:</label>
					<input formControlName="imCaption" type="text" name="" class="input-story">
				</div>
				<button type="submit" [ngClass]="{disabled : !imForm.valid || imNotSelected }" class="btn btn-default"> Save </button>
			</form>
			<div *ngIf="data_zone.dtype==1" class="">
				<img class="im_edit" [src]="selectedImage" alt="">
			</div>
		</div>
		<div class="col-md-7">
			<im-select [entity]="cpy_entity" [im_to]="newDestFile"></im-select>
		</div>
	</div>
</div>

<div *ngIf="selctFlag.vidAdd" class="vidAdd">
	Add Video
	<div class="row">
		<div class="col-md-5 pl-0">
			<form [formGroup]="vidForm" (ngSubmit)="saveVideosZone()">
				<div class="">
					<label>Caption:</label>
					<input formControlName="vidCaption" type="text" name="" class="input-story">
				</div>
				<div class="">
					<label>Youtube Url:</label>
					<input (change)="urlSetted($event)" (blur)="urlSetted($event)" (keyup)="urlSetted($event)" formControlName="vidYoutubeUrl" type="url" name="">
				</div>
				<div class="">
					<button type="submit" class="btn btn-default" [ngClass]="{disabled : !vidForm.valid }">Save</button>
				</div>
			</form>
		</div>
		<div class=" col-md-7 ">
			<div *ngIf="im_poster" class="">
				<div class=" ">
					<img width="100%" [src]="im_poster" alt=" ">
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="selctFlag.chiffrAdd" class="chiffrAdd ">
	Add chiffres
	<form [formGroup]="chrForm" (ngSubmit)="saveChiffresZone()">
		<div class="row">
			<div class="col-md-6 ">
				<div class="">
					<label for="c_year">Annees de creation:</label>
					<input formControlName="createdYear" class="" type="number" id="c_year" >
				</div>
				<div class="">
					<label for="colab">Collaborateur:</label>
					<input id="colab" class="" formControlName="collabor" type="number">
				</div>
				<div class="">
					<label>Parite:</label>
					<div class="">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<input formControlName="pariteHomme" type="number" >
							</div>
							<div class="col-md-6 col-sm-6">
								<input formControlName="pariteFemme" type="number">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class=" ">
					<label>Age Moyen:</label>
					<input formControlName="ageMoyen" type="number" >
				</div>
				<div class="">
					<label>Turn Over:</label>
					<input formControlName="turnOver" type="number" >
				</div>
				<div class="">
					<label>Opportuinites crees:</label>
					<input formControlName="createdOpportinuite" type="text" class="input-story">
				</div>
			</div>
		</div>
		<div class="">
			<button [ngClass]="{disabled: !chrForm.valid }" class="btn btn-default"> Save </button>
		</div>
	</form>
</div>