<navbar-capital></navbar-capital>
<div class="grid-project">
    <div class="after-nav">
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <div class="form-inline my-2 my-md-0 option-list">
                    <div class="option-div">
                    <select class="">
                        <option value="" disabled selected>Projets d'open innovation</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">Types de projets</span>
                    </div>
                    <div class="option-div">
                    <select class="select-two">
                        <option value="" disabled selected>Toutes les categories</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">categories</span>
                    </div>
                    <div class="option-div">
                    <select class="">
                        <option value="" disabled selected>France</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <span class="option-select">pays</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 text-right">
                <button class="btn-pro-project"><i class="fa fa-plus"></i>se connecter</button>
            </div>
        </div>
    </div>
</div>
<div class="bg-gri"></div>
<div class="grid-project">
    <div class="after-nav">
        <div class="row mb-12">
            <div class="col-18">
                <div class="card-st text-center">
                    <div class="img-rp">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st1.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st">
                    <div class="img-rp text-center">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st2.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st text-center">
                    <div class="img-rp">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st3.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st">
                    <div class="img-rp text-center">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st4.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st">
                    <div class="img-rp text-center">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st5.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st text-center">
                    <div class="img-rp">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st1.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-18">
                <div class="card-st">
                    <div class="img-rp text-center">
                        <img class="img-responsive" src="{{g.base_href}}assets/img/st2.png" width="100%" height="100%">
                    </div>
                    <div class="view-st">
                        <h4>lorem ipsum</h4>
                        <p>projet programme</p>
                        <ul>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/voir.png" width="18" height="12"><span>89</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/group.png" width="15" height="13"><span>07</span>
                            </li>
                            <li>
                                <img class="img-responsive" src="{{g.base_href}}assets/img/confirmed.png" width="14" height="13"><span>15</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            
        </div>
    </div>
</div>
<create-account-form></create-account-form>
<request-info></request-info>