<nav class="navbar navbar-expand-md bg-desk">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{{g.base_href}}assets/img/logo-ccw.png" width="37"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExample04" style="">
      <ul class="navbar-nav mr-auto desk-nav">
        <li class="nav-item active">
          <a class="nav-link " href="#">My desk <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">collaborations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Opportunities</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Positions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Communities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Web portal</a>
        </li>
      </ul>
      <ul class="navbar-nav form-inline my-2 my-md-0 desk-nav-icon">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-question-circle-o"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cog"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 side-nv">
      <div class="wrapper">
        <div id="sidebar">
          <ul class="list-unstyled components side-title">
            <li><a [routerLink]="['/administration-in','desk']">Team</a></li>
            <li><a [routerLink]="['/administration-in','desk','questions']">Questions</a></li>
            <li>
              <a [routerLink]="['/administration-in','desk', 'applications']">Applications</a>
              <li><a href="#">Favorite</a></li>
              <li><a href="#">invited organizations</a></li>
              <li><a href="#">Web portal</a></li>
            </ul>
          </div>
        </div>
      </div>
      <main class="col-12">
        <div class="ml-16">
          <!-- <members-admin></members-admin> -->
           <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>