<div class="jumbotron bg-mind" [ngStyle]="{'background-image': header_page_cover }">
  <div class="edit_bCover">
    <section-edit-button [section_]="company_cover" *ngIf="editPAGEstatus"></section-edit-button>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-two grid">
      <a class="navbar-brand nr-brand" href="#"><img class="img-responsive" src="{{g.base_href}}assets/img/logo-bh.JPG" width="170"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="list-nav">
          <li><h1><h1><span *ngIf="!company_nameEditMode">{{company_comm_name}}</span> <input [(ngModel)]="company_comm_name" *ngIf="company_nameEditMode" class="company_name_input" type="text" name="company_name_input"> <section-edit-button [section_]="company_name" *ngIf="editPAGEstatus"></section-edit-button> </h1></h1></li>
          <li>
              <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-tag" aria-hidden="true"></i><span class="pl-7">{{_typeOrganisation}}</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-map-marker"></i><span class="pl-7">{{_addr}}</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-globe"></i><span class="pl-7">www.bh.fr</span></a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </nav>
</div>
<nav class="bg-light nav-one">
  <div class="navbar navbar-expand-lg navbar-light grid">
      <a class="navbar-brand" href="#"><img class="img-responsive img-logo" [src]="header_page_logo" height="170" width="170"></a>
     <section-edit-button *ngIf="editPAGEstatus" class="butt_" [section_]="company_logo"></section-edit-button>
      <div class="collapse navbar-collapse nav-col" id="navbarNav">
        <ul *ngIf="pagetoShow" class="navbar-nav mg-4">
          <li *ngIf="pagetoShow.pMindset" class="nav-item" [ngClass]="{'active': isactivePage.mindset}">
            <a [routerLink]="['/Open-innovation',currentCompanySlug,'Acceuil']" class="nav-link" href="#">Mindset <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="pagetoShow.pTeam" class="nav-item" [ngClass]="{'active': isactivePage.team}">
            <a [routerLink]="['/Open-innovation',currentCompanySlug,'Team']" class="nav-link" >Team</a>
          </li>
          <li *ngIf="pagetoShow.pProjects"  class="nav-item" [ngClass]="{'active': isactivePage.projet}">
            <a class="nav-link" href="#">Project</a>
          </li>
          <li *ngIf="pagetoShow.pIdeas" class="nav-item" [ngClass]="{'active': isactivePage.ideas}">
              <a class="nav-link" href="#">Ideas</a>
          </li>
          <li *ngIf="pagetoShow.pMeeting" class="nav-item" [ngClass]="{'active': isactivePage.meet}">
            <a class="nav-link" href="#">Meetings</a>
          </li>
          <li *ngIf="pagetoShow.pSs" class="nav-item" [ngClass]="{'active': isactivePage.sstr}">
            <a class="nav-link" href="#">SuccessStory</a>
          </li>
        </ul>
      </div>
  </div>
</nav>


<!-- Modal -->
<div style="overflow: auto;" mdbModal #form="mdb-modal" class="modal fade" id="modalZoneForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div *ngIf="selectingImage" class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-pencil"></i> Select Image </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hideImageModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <im-select [im_to]='dest_file'></im-select>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
