.bg-mind {
	background-size: cover;
	background-position: center;
	min-height: 245px;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}

.nr-brand {
	visibility: hidden;
}

.nav-two {
	background-color: transparent !important;
	height: 75px;
	top: 150px;

	h1 {
		color: white;
		font-family: "SourceSansPro-bold";
	}

	ul li ul li a {
		color: white;
		font-family: "SourceSansPro-Lighter";
		font-style: italic;
	}

}

.list-nav {
	list-style: none;
	padding: 0;
}

.grid {
	width: 90%;
	margin: 0 auto;
	box-shadow: none;
}

.nav-col {
	margin-top: -37px;
}

.nv {
	margin-bottom: 0px;

	.active a {
		border-bottom: 3px solid #e84d3f;
		color: rgba(0, 0, 0, 0.9) !important;
		background: transparent !important;
		font-family: "SourceSansPro-Semibold";
	}

}

nav {
	height: 44px !important;
}

logo {
	margin-right: 1%;
	margin-left: 5%;
}

.navbar {
	height: 44px !important;
}

.nav-one {
	margin-bottom: 45px;
	max-height: 51px;
	box-shadow: 0px 1px 2px 0px grey;
	height: 44px;

	.nav-link {
		background: transparent !important;
		color: rgba(0, 0, 0, 0.5) !important;
	}

	ul li a {
		font-family: "SourceSansPro-bold";
	}

	.active .nav-link {
		border-bottom: 3px solid #e84d3f;
		color: rgba(0, 0, 0, 0.9) !important;
	}

}

.img-logo {
	position: absolute;
	z-index: 9;
	left: 6%;
	margin-top: -44px;
	margin-top: -80px;
}

.company_name_input {
	color: white;
	font-size: 2.5rem;
	width: auto;
}

.butt_ {
	position: absolute;
	top: -40px;
	z-index: 1040;
}

#modalZoneForm {
	background-color: #1010108c;
}

@media (min-width:576px) {
	.modal-dialog {
		max-width: 75%;
		// margin: 1.75rem auto;
	}
}

.modal-dialog.cascading-modal {
    margin-top: 65px;
}

.edit_bCover{
	position: absolute;
    top: 63px;
    left: 25px;
}