
.company_name_input {
	color: white;
	font-size: 2.5rem;
	width: auto;
}

.butt_ {
	position: absolute;
	top: -40px;
	z-index: 1040;
}

#modalZoneForm {
	background-color: #1010108c;
}

@media (min-width:576px) {
	.modal-dialog {
		max-width: 75%;
		// margin: 1.75rem auto;
	}
}

.modal-dialog.cascading-modal {
    margin-top: 65px;
}

.edit_bCover{
	position: absolute;
    top: 63px;
    left: 25px;
}



/* header */
.bg-mind{
    background-image:url(/assets/img/london.jpg);
    background-size: cover;
    background-position: center;
    min-height: 355px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}
.nr-brand{
    visibility: hidden;
}
.mg-4{
    li{
        margin: 0px 11px 0px 11px;
    }
}
.nav-two{
    background-color: transparent !important;
    height: 75px;
    top: 261px;
    h1{
        color: white;
        font-family: SourceSansPro-Regular;
        font-size: 32px;
    }
    ul li ul li a{
        color: white;
        font-family: "SourceSansPro-Lighter";
    }
}
.list-nav{
    list-style: none;
    padding: 0;
}
.grid{
    width: 90%;
    margin: 0 auto;
    box-shadow: none;
}
.nav-col{
    margin-bottom: 87px;
}
.nav-one{
    margin-bottom: 45px;
    max-height: 50px;
    box-shadow: 0px 1px 2px 0px grey;
    padding-bottom: 0;
    .nav-link{
        background: transparent !important;
        color: rgba(0, 0, 0, 0.5) !important;
    }
    ul li a{
        font-family: "SourceSansPro-bold";
    }
    .active .nav-link{
        border-bottom: 3px solid #e84d3f;
        color: rgba(0, 0, 0, 0.9) !important;
    }
}
.pl-7{
    padding-left: 7px;
}
.img-logo{
    margin-top: -120px;
    box-shadow: 0px 1px 3px 1px #ababab;
}
.grid-top{
    margin-bottom: 20px;        
        h2{
            font-size: 18px;
            margin-top: 15px;
            color: black;
            font-family:SourceSansPro-Semibold;
        } 
}
.bg-mind:before{
    background: linear-gradient(-159deg, rgba(112, 50, 92, 0.8) 0%, rgba(120, 25, 10, 0.8) 100%);
    content: '';
    display: block;
    min-height: 355px;
    position: absolute;
    width: 100%;

}
/* end header */