<!-- end nav -->
<nav class="navbar navbar-expand bg-nav">
    <div class="grid-project flex">
      <a class="icon-bar"><i class="fa fa-bars"></i></a>
      <a class="navbar-brand" href="#"><img class="img-responsive" src="{{header_page_logo}}" width="155px" height="80%"></a>
      <div class="mb-nav">
            <ul class="navbar-nav mr-auto mr-left-nav mr-left-nav-mobile">
              <li class="nav-item active">
                <a class="nav-link" href="#">accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">entreprises</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">porteurs de projets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">projets</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">service </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">communautes</a>
              </li>
            </ul>
      </div>
      <div class="collapse navbar-collapse mobile-nav" id="navbarsExample02">
        <ul class="navbar-nav mr-auto mr-left-nav desktop-ns    ">
          <li class="nav-item active">
            <a class="nav-link" href="#">accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">entreprises</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">porteurs de projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">projets</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">service </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">communautes</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-md-0 connexion">
          <button class="btn-inscrire b2"><i class="fa fa-user-o"></i><span class="c-none">s'inscrire</span></button>
          <button class="btn-connect b2"><i class="fa fa-sign-in"></i><span class="c-none">se connecter</span></button>
        </div>
      </div>
    </div>  
</nav>
<!-- end nav -->