<!-- <div class="container justify-content-center">
  <div class="row">
    <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
      <img align="left" class="fb-image-profile thumbnail" [src]="profilData.img_" alt="Profile image example"/>
      <div class="fb-profile-text">
        <h1>{{profilData.commName}}</h1> 
        <i><span class="ml-3 mr-3">{{profilData.r_s}}</span> - <span class="ml-3">{{profilData.adresse}}</span> </i>
        
      </div>
    </div>
  </div>
  </div> --> <!-- /container fluid-->
  <div class="container">
    <div style="margin-top: 25px" class="row">
      
      <div class="col-sm-12">
        <div data-spy="scroll" class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs nav-justified">
              <li class=" nav-item" [ngClass]="{'active': tabl.general }">
                <a class="nav-link" [routerLink]="[{ outlets: { company: null } }]"   data-toggle="tab" role="tab">
                General</a>
              </li>
              <li class=" nav-item " [ngClass]="{'active': tabl.user }">
                <a class="nav-link" [routerLink]="[{ outlets: { company: 'user' } }]"   data-toggle="tab" role="tab">
                Team</a>
              </li>
              <li class=" nav-item " [ngClass]="{'active': tabl.projet }">
                <a class="nav-link" [routerLink]="[{ outlets: { company: 'projet' } }]" href=""  data-toggle="tab" role="tab">
                Propositions</a>
              </li>
              <li class=" nav-item " [ngClass]="{'active': tabl.job }">
                <a class="nav-link" [routerLink]="[{ outlets: { company: 'job' } }]" href=""  data-toggle="tab" role="tab">
                Jobs</a>
              </li>
              <li class=" nav-item " [ngClass]="{'active': tabl.event }">
                <a class="nav-link" [routerLink]="[{ outlets: { company: 'event' } }]" href=""  data-toggle="tab" role="tab">
                Ideas</a>
              </li>
            </ul>

            <div class="tab-content">
              <router-outlet name="company"></router-outlet>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>