<div class="deal-list-container pt-3">
  <h3>
    Your deal spaces list
  </h3>
  <div class="list-deal-div">
    <table class="table appli-table table-striped">
      <thead>
        <tr>
          <td>Deal name</td>
          <td>Collaboration type</td>
          <td>Project type</td>
          <td>Nb member</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a [routerLink]="['/administration-in','collaborations','deal-space','deal']">Test</a></td>
          <td>-</td>
          <td>-</td>
          <td>4</td>
        </tr>
        <tr *ngFor="let deal of listDeal">
          <td><a [routerLink]="['/administration-in','collaborations','deal-space','deal']">Test</a></td>
          <td></td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
