$color1: #e55037;
$color2: #393F4B;
$gray: #a7a7a7;

.deal-list-container {
  padding-left: 96px;
  width: 100%;
}

.list-deal-div, table {
  width: 100%;
}

.list-deal-div thead {
  background-color: $color2;
}

.list-deal-div tbody tr {
  border-bottom: solid 1px black;
}

.list-deal-div thead tr td {
  font-size: 16px;
  font-family: SourceSansPro-Semibold;
  color: white;
  margin-left: 10px;
}
