<div  class="container-fluid grid grid-top">
	<div class="row">
		<div (click)="tmVShow()" class="col-team top-team">
			<img class="img-responsive img-clip-path" [src]="teamVideoData.im_poster" width="100%" height="100%">
			<div class="text-video">
				<div><i class="fa fa-play"></i></div>
				<div>
					<h5>Hoori Kaskanian</h5>
					<p>General Manager - Pfizer Essential Health France</p>
				</div>
			</div>
			<div class="overlay_"><i class="fa fa-search chck" ></i></div>
		</div>

		<div class="col-team-2 presentation mt-4p">
			<p>
			{{teamVideoData.textTeam}}
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">vous avez une question<i class="fa fa-question-circle icon-question"></i></a>
				<a class="btn btn-primary btn-lg btn-crt" href="#" role="button">dites-moi</a>
			</p>
		</div	>
	</div>
<hr class="grid-hr hr">
</div>
<div *ngIf="editPAGEstatus" class="">
	<button (click)="tmVEdit()" class="btn btn-info erew"><i class="fa fa-pencil-square-o"></i></button>
	<button (click)="tmVDelete()" class="btn btn-info erew2"><i class="fa fa-trash-o"></i></button>
</div>