<div class="col-container">
    <p class="invite">You can invite other organizations to participate in your projects.</p>
    <div class="add-form text-right">
        <i class="fa fa-plus"></i>
    </div>
    <div class="row">
        <div class="col-3">
            <label class="grey-text-form">First name</label>
            <div class="input-md">
                <input type="text" placeholder="" id="" class="form-control-project" mdbActive validate required="required">
            </div>
        </div>
        <div class="col-3">
            <label class="grey-text-form">Last name</label>
            <div class="input-md">
                <input type="text" placeholder="" id="" class="form-control-project" mdbActive validate required="required">
            </div>
        </div>
        <div class="col-3">
            <label class="grey-text-form">Organisation name</label>
            <div class="input-md">
                <input type="text" placeholder="" id="" class="form-control-project" mdbActive validate required="required">
            </div>
        </div>
        <div class="col-3">
            <label class="grey-text-form">Email</label>
            <div class="input-md">
                <input type="text" placeholder="" id="" class="form-control-project" mdbActive validate required="required">
            </div>
        </div>
        <div class="text-right">
            <button class="mb-4 btn-col btn">
				<i class="fa fa-send pr-2"></i>to send</button>
        </div>
    </div>
</div>