<nav class="navbar navbar-expand-sm nav-tel">
    <ul class="navbar-nav ns">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','desk', 'invited-organisation','favorite1']">Favorite</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','desk', 'invited-organisation','favorite2']">Invitations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/administration-in','desk', 'invited-organisation','favorite3']">Pending invitations</a>
        </li>
    </ul>
</nav>
<main class="collaboration-container">
    <div class="ml-16">
        <router-outlet></router-outlet>
    </div>
</main>
