.projects-list{
    line-height: 65px;
    box-shadow: 0px 0px 3px 1px #b9b9b9;
    padding: 42px 42px 5px 42px;
}

.list-nav{
    list-style: none;
    padding: 0;
    h3{
        color: #e84d3f;
        font-size: 13px;
        font-family: "SourceSansPro-Regular";
        span{
            padding-left: 10px;
            font-size: 16px;
        }
    }
}

.list-ul{
    font-family: SourceSansPro-Regular;
}

.nav-down{
    font-size: 13px;
    margin-left: 15px;
    margin-top: -27px;
    li a{
        color: gray;
    }
    span{
        color: gray;
        padding-left:5px;
    }
    svg{
        color: gray;
    }
}

.nav-one{
    margin-bottom: 45px;
    max-height: 51px;
    box-shadow: 0px 1px 2px 0px grey;
    padding-bottom: 0;
    .nav-link{
        background: transparent !important;
        color: rgba(0, 0, 0, 0.5) !important;
    }
    ul li a{
        font-family: "SourceSansPro-bold";
    }
    .active .nav-link{
        border-bottom: 3px solid #e84d3f;
        color: rgba(0, 0, 0, 0.9) !important;
    }
}