.presentation {
    text-align: justify;

    h2 {
        border-bottom: 1px solid #b9b7b7;
        font-size: 19px;
        padding-bottom: 17px;
        font-family: "SourceSansPro-bold";
    }

    p {
        color: gray;
        font-size: 15px;
        // font-family: "SourceSansPro-Lighter";
    }

}

