<div class="innovate">
    <h5>project description</h5>
    <div class="mb-20 p-re">
        <label class="grey-text-form">project name </label>
        <input placeholder="Innovation project" (change)="onChange($event)" type="text" [(ngModel)]="prModel.pr_name" name="pName" class="form-control-project prN">
        <i class="fa fa-check fc"></i>
    </div>
    <div class="mb-20 p-re">
        <label class="grey-text-form"> Project Context</label>
        <ckeditor height="100px" rows="40" cols="40" placeholder="Project context" #ckeditor1 [(ngModel)]="prModel.pr_contexte_ProjectEditor" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)"
            (focus)="onChange($event)" (blur)="onChange($event)" debounce="500">
        </ckeditor>
    </div>
    <div class="mb-20 p-re">
        <label class="grey-text-form">Proposal Requirements</label>
        <ckeditor #ckeditor3 [(ngModel)]="prModel.pr_elementProposition_ProjectEditor" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"
            debounce="500">
        </ckeditor>
    </div>
    <div class="mb-20 p-re">
        <label class="grey-text-form"> Project Objectives</label>
        <ckeditor #ckeditor2 [(ngModel)]="prModel.pr_objectif_ProjectEditor" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"
            debounce="500">
        </ckeditor>
    </div>
    <div class="mb-20 p-re">
        <label class="grey-text-form"> Decision process</label>
        <ckeditor #ckeditor2 [(ngModel)]="prModel.pr_processDecision" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"
            debounce="500">
        </ckeditor>
    </div>
    <!--   <div class="row">
       <div class="col-md-6 col-sm-6 pl-0">
         <div class="mb-20 p-re">
           <label class="grey-text-form">Response time</label>
           <input (change)="onChange($event)" type="number" [(ngModel)]="prModel.pr_responseTimeValue" name="resonseTime" class="form-control-project">
           <i class="fa fa-clock-o i-clock"></i>
         </div>
       </div>
       <div class="col-md-6 col-sm-6">
         <div class="mb-20 unit-display">
           <label class="grey-text-form">Unit</label>
           <select (change)="onChange($event)" [(ngModel)]="prModel.pr_responseTimeUnit">
             <option value="Hour">Hours</option>
             <option value="Day">Days</option>
             <option value="Week">Weeks</option>
             <option value="Month">Months</option>
           </select>
         </div>
       </div>
       </div> -->
    <!--  -->
    <div class="">
        <h5>Project Type</h5>
        <div class="radiotop mb-3">
            <div class="row">
                <div class="col-6 pl-0">
                    <div class="element">
                        <input (change)="durationTypeCollaborationChange()" class="form-check-input" mdbInputDirective name="group1" value="programmed" [(ngModel)]="cPrModel.pr_collabDurationType" type="radio" id="bouton_1">
                        <label for="bouton_1" class="form-check-label">Programmed project : with a start date and en end date</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="element cl">
                        <input (change)="durationTypeCollaborationChange()" class="form-check-input" mdbInputDirective value="continue" [(ngModel)]="cPrModel.pr_collabDurationType" type="radio" id="bouton_2" name="group1">
                        <label for="bouton_2" class="form-check-label">Permanent project : to continually access innovations</label>
                    </div>
                </div>
            </div>
        </div>
        <ng-template [ngIf]="shDate">
            <div class="">
                <some-date (valueDate)='saveDate($event)'></some-date>
            </div>
        </ng-template>
    </div>
    <div class="">
        <h5 class="mb-2">Confidentiality</h5>
        <div class="radiotop mb-3">
            <div class="row">
                <div class="col-6 pl-0">
                    <div class="element">
                        <input value="no" (change)="onConfidentialChange($event)" type="radio" name="confidential_" id="confide-no" class="form-check-input">
                        <label for="confide-no" class="form-check-label">No confidential information</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="element cl">
                        <input value="yes" (change)="onConfidentialChange($event)" type="radio" name="confidential_" id="confide-yes" class="form-check-input">
                        <label for="confide-yes" class="form-check-label">There is some confidential information</label>
                    </div>
                </div>
                <div class="col-6 pl-0">
                    <ng-template [ngIf]="shConfidential">
                        <label class="grey-text-form mb-3 pl-0">Confidential information</label>
                        <ckeditor #ckeditor2 [(ngModel)]="cPrModel.pr_dataConfidential" [config]="g.conf0_editor" [readonly]="false" (change)="onChange($event)" (editorChange)="onEditorChange($event)" (ready)="onReady($event)" (focus)="onChange($event)" (blur)="onChange($event)"
                            debounce="500">
                        </ckeditor>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="mb-20  mt-4">
            <h5 class="mb-2">diffusion</h5>
            <label class="grey-text-form">continent</label>
            <div class="row">
                <!-- <div class="col-4 pl-0">
                <select (change)="changeDiffusion($event)" [(ngModel)]="cPrModel.pr_diffusionPlaces">
                
                  <option value="default">Select diffusion places</option>
                  <option value="continent">Continent</option>
                  <option value="country">Country</option>
                  <option value="parts">Type de contreparties</option>
                </select>
                </div> -->
                <!-- <div class="col-12">
                <div class="mt-2 flex">
                    <div class="ml-2 mr-2">
                        <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.asia" id="asia">
                        <label class="ml-2 form-check-label" for="asia">Asia</label>
                    </div>
                    <div class="ml-2 mr-2">
                        <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.africa" id="africa">
                        <label class="ml-2 form-check-label" for="africa">Africa</label>
                    </div>
                    <div class="ml-2 mr-2">
                        <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.europa" id="europa">
                        <label class="ml-2 form-check-label" for="europa">Europa</label>
                    </div>
                    <div class="ml-2 mr-2">
                        <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.america" id="america">
                        <label class="ml-2 form-check-label" for="america">America</label>
                    </div>
                    <div class="ml-2 mr-2">
                        <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.oceania" id="oceania">
                        <label class="ml-2 form-check-label" for="oceania">Oceania</label>
                    </div>
                </div>
                </div> -->
                <div class="col-12 p-0">
                    <div class="mt-2 flex continent-f">
                        <label class="custon-ch col-2">
                   <span class="agree ml-2 form-check-labe" for="asia">Asia</span>
                   <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.asia" id="asia" >
                   <span class="checkmark"></span>
                   </label>
                        <label class="custon-ch col-2">
                   <span class="agree ml-2 form-check-labe" for="asia">Africa</span>
                   <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.africa" id="africa">
                   <span class="checkmark"></span>
                   </label>
                        <label class="custon-ch col2">
                   <span class="agree ml-2 form-check-labe" for="asia">Europa</span>
                   <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.europa" id="europa">
                   <span class="checkmark"></span>
                   </label>
                        <label class="custon-ch col2">
                   <span class="agree ml-2 form-check-labe" for="asia">America</span>
                   <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.america" id="america">
                   <span class="checkmark"></span>
                   </label>
                        <label class="custon-ch col2">
                   <span class="agree ml-2 form-check-labe" for="asia">Oceania</span>
                   <input (change)='continentCh()' type="checkbox" [(ngModel)]="diffusionModelContinent.oceania" id="oceania">
                   <span class="checkmark"></span>
                   </label>
                    </div>
                </div>
                <div class="col-12 p-0 mt-4 continent-table">
                    <table class="table table-striped table-bordered table-responsive-md">
                        <thead>
                            <tr>
                                <td class="tc">
                                    <select (change)='changeCountryPart()' [(ngModel)]='c_part' id="">
                            <option value="europa">Europa</option>
                            <option value="america">America</option>
                            <option value="africa">Africa</option>
                            <option value="asia">Asia</option>
                            <option value="oceania">Oceania</option>
                            </select>
                                </td>
                                <td class="st"><span>STARTUPS</span></td>
                                <td class="st"><span>INCUBATORS</span></td>
                                <td class="st"><span>RESEARCH</span></td>
                                <td class="st"><span>CAPITAL</span></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataReadyIn">
                            <tr *ngFor="let item of selContinent" class="radiotop">
                                <td>{{item.country}}</td>
                                <td (click)="selectPartC($event , item, 'startUps')" [ngClass]="{diffSelect: checkItems(item, 'startUps') }" class="text-center curs_pointer custon-ch">
                                    <input [checked]="checkItems(item, 'startUps')" type="checkbox">
                                    <span [ngClass]="{visible: checkItems(item, 'startUps')}" class="checkmark hidden-ch"></span>
                                </td>
                                <td (click)="selectPartC($event, item, 'incubators')" [ngClass]="{diffSelect:checkItems(item, 'incubators') }" class="text-center curs_pointer custon-ch">
                                    <input [checked]="checkItems(item, 'incubators')" type="checkbox">
                                    <span [ngClass]="{visible:checkItems(item, 'incubators') }" class="checkmark hidden-ch"></span>
                                </td>
                                <td (click)="selectPartC($event, item, 'research')" [ngClass]="{diffSelect: checkItems(item, 'research') }" class="text-center curs_pointer custon-ch">
                                    <input [checked]="checkItems(item, 'research')" type="checkbox">
                                    <span [ngClass]="{visible: checkItems(item, 'research') }" class="checkmark hidden-ch"></span>
                                </td>
                                <td (click)="selectPartC($event, item, 'ventureCapital')" [ngClass]="{diffSelect: checkItems(item, 'ventureCapital') }" class="text-center curs_pointer custon-ch">
                                    <input [checked]="checkItems(item, 'ventureCapital')" type="checkbox">
                                    <span [ngClass]="{visible: checkItems(item, 'ventureCapital') }" class="checkmark hidden-ch"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-2 pl-0">
            <button (click)="saveProjects()" [ngClass]="{'disabled': noValid }" class="btn btn-unique-edit ed-2">
          <i class="fa fa-check mr-2"></i>Save</button>
        </div>
    </div>