.bg-mind{
    background-image:url(/assets/img/london.jpg);
    background-size: cover;
    background-position: center;
    min-height: 355px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}
.nr-brand{
    visibility: hidden;
}
.nav-two{
    background-color: transparent !important;
    height: 75px;
    top: 261px;
    h1{
        color: white;
        font-family: "SourceSansPro-bold";
    }
    ul li ul li a{
        color: white;
        font-family: "SourceSansPro-Lighter";
        font-style: italic;
    }
}
.grid{
    width: 90%;
    margin: 0 auto;
    box-shadow: none;
}
.nav-col{
    margin-top: -37px;
}
.nav-one{
    margin-bottom: 45px;
    max-height: 51px;
    box-shadow: 0px 1px 2px 0px grey;
    padding-bottom: 0;
    .nav-link{
        background: transparent !important;
        color: rgba(0, 0, 0, 0.5) !important;
    }
    ul li a{
        font-family: "SourceSansPro-bold";
    }
    .active .nav-link{
        border-bottom: 3px solid #e84d3f;
        color: rgba(0, 0, 0, 0.9) !important;
    }
}
.img-logo{
    margin-top: -45px;
}
.presentation{
    text-align: justify;
    h2{
        border-bottom: 1px solid #b9b7b7;
        font-size: 19px;
        padding-bottom: 17px;
        font-family: "SourceSansPro-bold";
    }
    p{
        color: gray;
        font-size: 15px;
        font-family: "SourceSansPro-Lighter";
    }
}
.btn-apply{
    background: #e83936;
    border: 1px solid #e83936;
    color: white !important;
    font-size: 16px;
    border-radius: 0px;
    text-transform: initial;
    width: 145px;
    padding: 7px 0 7px 0px;
    box-shadow: none;
    font-size: 14px;
    span{
        padding-right:10px;
    }
}
.btn-question{
    background: black;
    border: 1px solid black;
    border-radius: 0;
    font-size: 16px;
    margin-left: -11px;
    box-shadow: none;
    width: 145px;
    padding: 7px 0 7px 0px;
    font-size: 14px;
    span{
        padding-right:10px;
    }
}
.hr{
    margin-bottom: 20px;
}
.grid-top{
    margin-bottom: 20px;
}
.nav-down{
    font-size: 13px;
    span{
        color: gray;
        padding-left:5px;
    }
    svg{
        color: gray;
    }
}
.project-list{
    box-shadow: 0px 0px 3px 1px #b9b9b9;
    padding: 42px 42px 5px 42px;
}
.list-nav{
    padding: 0;
    list-style: none;
    h3{
        color: #e83936;
    }
}