<page-header [pageCurrent]="projet_page"] ></page-header>
  <div class="container-fluid grid grid-top">
    <div class="project-list ">
        <div class="navbar-expand-lg">
            <div>
              <ul class="list-nav">
                <li><h3><i class="fa fa-minus"></i><span>Nouvelle offre de produit/service pour les séniors</span></h3></li>
                <li>
                    <ul class="navbar-nav nav-down">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-calendar"></i><span>Meetings</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-map-marker"></i><span>Paris</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-clock-o"></i><span>Answer delay: 3Days</span></a>
                      </li>
                    </ul>
                </li>
                <li><h4>A propos</h4></li>
              </ul>
            </div>
        <div>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans 
            la composition et la mise en page avant impression. Il a été popularisé 
            dans les années 1960 grâce à la vente de feuilles Letraset 
            contenant des passages du Lorem Ipsum, et, plus récemment, par 
            son inclusion dans des applications de mise en page de texte, 
            comme Aldus PageMaker.
          </p>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans 
            la composition et la mise en page avant impression.
            Le Lorem Ipsum est le faux texte standard de l'imprimerie 
            depuis les années 1500, quand un peintre anonyme assembla 
            ensemble des morceaux de texte pour réaliser un livre spécimen 
            de polices de texte.
          </p>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans 
              la composition et la mise en page avant impression.
              Le Lorem Ipsum est le faux texte standard de l'imprimerie 
              depuis les années 1500, quand un peintre anonyme assembla 
              ensemble des morceaux de texte pour réaliser un livre spécimen 
              de polices de texte.
          </p>
          <p class="text-right">                   
              <a class="btn btn-primary btn-lg btn-question" href="#" role="button"><span>Question</span><i class="fa fa-question-circle"></i></a>
              <a class="btn btn-primary btn-lg btn-apply" href="#" role="button"><span>Apply</span><i class="fa fa-check"></i></a>
          </p>
    </div>
  </div>