<div class="row">
	<div *ngIf="editPAGEstatus" class="">
		<button (click)="AddNew()" class="btn btn-info"><i class="fa fa-plus"></i></button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-team">
		<img class="img-responsive" src="{{g.base_href}}assets/img/video1.png" width="100%" height="350px">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 presentation">
		<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
		</p>
		<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
		</p>
		<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!<i class="fas fa-question-circle"></i></a>
			<a class="btn btn-primary btn-lg btn-crt" href="#" role="button">lorem</a>
		</p>
	</div>
</div>
<hr class="grid hr">
<div class="container-fluid grid grid-top">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 top-team">
			<img class="img-responsive" src="{{g.base_href}}assets/img/video1.png" width="100%" height="350px">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 presentation">
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
			</p>
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
			</p>
			<p> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg btn-wnt" href="#" role="button">I want to apply for projects!<i class="fas fa-question-circle"></i></a>
				<a class="btn btn-primary btn-lg btn-crt" href="#" role="button">lorem</a>
			</p>
		</div>
	</div>
</div>


<!-- Modal -->
<div style="overflow: auto;" mdbModal #form="mdb-modal" class="modal fade" id="modalZoneForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div *ngIf="addNewState" class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-pencil"></i> Add New Zone </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="closeModalAddNEw()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <team-front-new></team-front-new>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>