<div class="row">
	<div *ngIf="editPAGEstatus" class="">
		<button (click)="AddNew()" class="btn btn-info"><i class="fa fa-plus"></i></button>
	</div>
</div>

<front-vteam  *ngFor="let item of dataTeamFront" [vteamDATA]= "item"></front-vteam>


<!-- Modal -->
<div style="overflow: auto;" mdbModal #form="mdb-modal" class="modal fade" id="modalZoneForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div *ngIf="addNewState" class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-pencil"></i> Add New Zone </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="closeModalAddNEw()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <team-front-new [do_action]='tmVideoAction'></team-front-new>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>