#modalZoneForm {
	background-color: #000000eb;
}

.modal-dialog.cascading-modal {
	margin-top: 77px !important;
}

@media (min-width:576px) {
	.modal-dialog {
		max-width: 75%;
		// margin: 1.75rem auto;
	}

}
.btn-floating i{
    font-size: 21px;
    color: white;
}
.btn-floating{
    position: relative;
    left: -8px;
    top: -14px;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 10px 0px 5px 15px;
    border-radius: 50%;
    margin: 0px;
    background-color: #d6970b;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    width: 54.1px;
    height: 52.1px;
    width: 47px;
    height: 47px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-mg{
    position: absolute;
    left: 43px;
    margin-top: -7px;
}
.md-header{
    background: transparent !important;
    .close{
        margin: 5px;
        margin-right: -6px;
    }
}
.md-content{
    background: black;
}
