<div class="row">
  <div *ngIf="editPAGEstatus" class="btn-mg">
    <a (click)="AddNew()" class="btn-floating btn-lg purple-gradient waves-light"><i class="fa fa-plus"></i></a>
  </div>
</div>
<front-vteam  *ngFor="let item of dataTeamFront" [vteamDATA]= "item"></front-vteam>

<!-- Modal add-->
 <div style="overflow: auto;" mdbModal #form="mdb-modal" class="modal fade" id="modalZoneForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div *ngIf="addNewState" class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-pencil"></i> Add New Zone </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="closeModalAddNEw()">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <team-front-new [tmv_data]='tmVideoData' [do_action]='tmVideoAction'></team-front-new>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Modal video play-->
<div style="overflow: auto;" mdbModal #showVideo="mdb-modal" class="modal fade" id="modalZoneForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div *ngIf="showDataState" class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content md-content">
      <!--Header-->
      <div class="modal-header md-header light-blue darken-3 white-text">
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="showVideoCLose()">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
      	<div [innerHtml]="videoTeam|bhSafeHtml" class="md-video text-center">
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>